.switcherContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.switchButton{
    font-size: 1.2rem;
    border: 5px solid white;
    padding: 5px 10px;
    width: 200px;
    background: transparent;
}

.switcherLeft {
    border-radius: 17px 0 0 17px;
}

.switcherRight {
    border-radius: 0 17px 17px 0;
}


// * ----- APPOINTMENT CARDS ----- *
.appointmentCard {
    background: white;
    border-radius: 19px;
    min-width: 50%;
    height: 400px;
    margin: 20px 0;
    header{
        background: #F2F2F2;
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 15%;
        border-radius: 19px 19px 0 0;
        p{
            display: flex;
            align-items: center;
        }
    }
    time{
        margin-right: auto;
        font-weight: bold;
    }
    main{
        display: flex;
        justify-content: center;
        height: 68%;
        section{
            width: 100%;
        }
    }
    footer{
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            width: 30%;
        }
        button{
            font-weight: bold;
            padding: 5px 30px;
            border-radius: 20px;
            color: white;
            width: 30%;
            height: 40px;
        }
        .sms{
            width: 100%;
        }
    }
    li{
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: center;
        height: 25%;
    }
    .cardSectionNames{
        ul{
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
        }
    }
    .cardSectionContent{
        ul{
            margin: 0;
            padding: 10px 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        .note{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            .noteContent{
                width: 80%;
                overflow-wrap: break-word;
                padding: 0 5px;
            }
            input{
                height: 20px;
            }
            button{
                margin-left: auto;
                margin-right: 10px;
                height: 30px;
                background: none;
            }
        }
        li{
            display: flex;
            flex-direction: column;
            height: 25%;
            justify-content: flex-start;

        }
        p{
            margin: 0 3px 0 0;
        }
    }
}

.bold{
    font-weight: bold;
}

.redBg{
    background: #D00000;
}
.greenBg{
    background: #5ccb5c;
}

.blueBg{
    background: #00a2f7;
}
.empty{
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.statusBubble{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 5px;
}

.appointmentTime{
    width: 30px;
    height: 10px;
    margin: 0 5px;
}

@media screen and (max-width: 1060px){
    .appointmentCard{
        width: 95%;
        height: 560px;
        footer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button{
                width: 60%;
                margin: 3px 0;
                height: 23.5px;
            }
            a{
                width: 60%;
                height: 23.5px;
                display: flex;
                justify-content: center;
            }
        }
    }
    .switcherContainer{
        max-width: 95%;
    }
}