@import '../../variables';


.success{
    color: #02b201;
    font-weight: bold;
}

.error{
    color: #f70000;
    font-weight: bold;
}

.bg-contact{
    background-color: $GOLD;
}
.contact-container{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    h2{
        border-bottom: 1px solid white;
        display: inline-block;
        margin: 0 0 30px 0;
    }
}

.form-container{
    width: 40vw;

    h3{
        margin: 0 0 5px 0;
    }
    
    input{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    width: 50%;
    margin-bottom: 20px;
    height: 30px;
    }

    button{
        margin-top: 0 30px;
        padding: 10px 20px;
        background: white;
        border: 0;
        border-radius: 50px;
        font-size: 1rem;
        cursor: pointer;
    }


}

.info-container{
    align-self: flex-start;
    width: 40vw;
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        margin: 20px 0;
        list-style: none;
        display: flex;
        align-items: center;
        a{
            color: #000;
            &:visited{
                color: #000;
            }
        }
        img{
            height: 30px;
            width: auto;
            margin-right: 5px;
        }
    }
}

.map{
    border: none;
}

.mail-answer{
    display: flex;
    justify-content: center;
}


.success-message{
    background-color: #58c300;
    border-radius: 10px;
    padding: 13px;
    display: inline-block;
    color: white;
    font-weight: bold;
}
.error-message{
    background-color: #f73000;
    border-radius: 10px;
    padding: 13px;
    display: inline-block;
    color: white;
    font-weight: bold;
    //border-left: 3px solid white;
}

@media screen and (max-width: 1060px){
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .form-container{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        section{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h3{
            align-self: flex-start;
            margin-left: 10%;
        }
        .checkbox-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;
        }
        .checkbox{
            margin-left: 10%;
        }
        button{
            margin: 30px 0;
        }
        input{
            width: 80%;
            margin: 10px auto;
        }
    }
    .info-container{
        width: 90%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            li{
                margin: 0;
            }
        }
    }
}