@import '../../variables';


.success{
    color: #02b201;
    font-weight: bold;
}

.error{
    color: #f70000;
    font-weight: bold;
}

.bg-contact{
    background-color: $GOLD;
}
.contact-container{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    h2{
        border-bottom: 1px solid white;
        display: inline-block;
        margin: 0 0 30px 0;
    }
}

.form-container{
    width: 40vw;

    h3{
        margin: 0 0 5px 0;
    }
    
    input{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    width: 50%;
    margin-bottom: 20px;
    }

    button{
        margin-top: 10px;
        padding: 5px 15px;
        background: white;
        border: 0;
        border-radius: 3px;
        font-size: 1rem;

        cursor: pointer;
        margin-left: 20%;
    }


}

.info-container{
    align-self: flex-start;
    width: 40vw;
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        margin: 20px 0;
        list-style: none;
        display: flex;
        align-items: center;
        a{
            color: #000;
            &:visited{
                color: #000;
            }
        }
        img{
            height: 30px;
            width: auto;
            margin-right: 5px;
        }
    }
}

.map{
    border: none;
}

.mail-answer{
    display: flex;
    justify-content: center;
}


.success-message{
    background-color: #58c300;
    border-radius: 10px;
    padding: 13px;
    display: inline-block;
    color: white;
    font-weight: bold;
}
.error-message{
    background-color: #f73000;
    border-radius: 10px;
    padding: 13px;
    display: inline-block;
    color: white;
    font-weight: bold;
    //border-left: 3px solid white;
}

@media screen and (max-width: 1060px){
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
    }
    .form-container{
        width: 90%;
    }
    .info-container{
        width: 100%;
        align-self: center;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            li{
                margin: 0;
            }
        }
    }
}