@import "../../variables";

nav {
    display: flex;
    align-items: baseline;
    background-color: rgba(255,255,255,0.75);
    position: fixed;
    max-height: 80px;
    width: 100vw;
    top: 0;
    ul {
        display: inline-flex;
    }

    li {
        margin-right: 30px;
        list-style: none;
        font-size: 25px;
    }
    h1{
        font-size: 35px;
        margin-left: 10%;
        display: inline-flex;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    #active{
        border-bottom: 1px solid $GOLD;
    }
}
