// --------- FONTS ---------
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto&display=swap');
@import "./variables";

body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

h1 ,h2, h3, h4, h5, h6{
  font-family: 'Baskerville', sans-serif;
  font-weight: normal;
}

button{
  cursor: pointer;
  button:focus{
    border: none;
  }
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title{
  font-size: 88px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 7px;
  font-weight: normal;
  margin-top: 100px;
}
.divider-black{
  border-bottom: 10px solid black;
  width: 50px;
}
.divider-colored{
  border-bottom: 10px solid $GOLD;
  width: 50px;
}